In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import sqlite3
import datetime as dt
from sqlite3 import Error

URL = "https://dekluizen.be/"
page = requests.get(URL)
soup = BeautifulSoup(page.content, 'html.parser')

elements = soup.find("div", class_="baanStatus contentBlock halfWidth light")
elements.find_all('p', recursive=False)
dict = {}
for p in elements.find_all('p', recursive=False):
    attr = p.attrs.get("class")[0]
    value = p.text.split()[0]
    dict[value] = attr
#dyk = soup.find("div", class_="baanStatus contentBlock halfWidth light").find('p')

print(dict)
path = "c:\\lokaal\\scripts\\git_personal\\codewars\\test.db"
def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
        return connection
    except Error as e:
        print(f"The error '{e}' occurred")

def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

conn = create_connection(path)

now = dt.datetime.now()
timeStamp =  now.strftime("%Y%m%d"+"T"+"%H%M%S")


for key in dict:
    sql = "INSERT INTO baanstatus (course, element, status, date) VALUES('De Kluizen','" + key + "','" + dict[key] + "','" + str(timeStamp) +"');"   
    execute_query(conn, sql)

#sql = """CREATE TABLE IF NOT EXISTS baanstatus (course TEXT NOT NULL,element TEXT NOT NULL,status TEXT NOT NULL,date TEXT NOT NULL);"""
#execute_query(conn, sql)

#sqlite> CREATE TABLE IF NOT EXISTS baanstatus (
#   ...> id INTEGER PRIMARY KEY AUTOINCREMENT,
#   ...> course TEXT NOT NULL,
#   ...> element TEXT NOT NULL,
#    ...> status TEXT NOT NULL,
#   ...> date TEXT NOT NULL);


sql = """
SELECT * FROM BAANSTATUS
"""
execute_read_query(conn, sql)

{'Terrein': 'ok', 'Clubhuis': 'ok', 'Driving': 'ok', 'Lockers': 'ok', 'Buggy’s': 'ok', 'Putting': 'ok', 'Chipping': 'ok'}
Connection to SQLite DB successful
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully

[(1, 'De Kluizen', 'Terrein', 'ok', '20221109T160717'),
 (2, 'De Kluizen', 'Clubhuis', 'ok', '20221109T160717'),
 (3, 'De Kluizen', 'Driving', 'ok', '20221109T160717'),
 (4, 'De Kluizen', 'Lockers', 'ok', '20221109T160717'),
 (5, 'De Kluizen', 'Buggy’s', 'ok', '20221109T160717'),
 (6, 'De Kluizen', 'Putting', 'ok', '20221109T160717'),
 (7, 'De Kluizen', 'Chipping', 'ok', '20221109T160717'),
 (8, 'De Kluizen', 'Terrein', 'ok', '20221109T160753'),
 (9, 'De Kluizen', 'Clubhuis', 'ok', '20221109T160753'),
 (10, 'De Kluizen', 'Driving', 'ok', '20221109T160753'),
 (11, 'De Kluizen', 'Lockers', 'ok', '20221109T160753'),
 (12, 'De Kluizen', 'Buggy’s', 'ok', '20221109T160753'),
 (13, 'De Kluizen', 'Putting', 'ok', '20221109T160753'),
 (14, 'De Kluizen', 'Chipping', 'ok', '20221109T160753'),
 (15, 'De Kluizen', 'Terrein', 'ok', '20221109T160814'),
 (16, 'De Kluizen', 'Clubhuis', 'ok', '20221109T160814'),
 (17, 'De Kluizen', 'Driving', 'ok', '20221109T160814'),
 (18, 'De Kluizen', 'Lockers', 'ok', '20221109T160814'),
 (19, 'De Kluizen', 'Buggy’s', 'ok', '20221109T160814'),
 (20, 'De Kluizen', 'Putting', 'ok', '20221109T160814'),
 (21, 'De Kluizen', 'Chipping', 'ok', '20221109T160814')]